<%= form_with(model:[@product, @product.reviews.build]) do |form| %>
  <div class='form-group'>
    <label class='col-md-4 control-label' for='product_name'>Comment</label>
    <div class='col-md-4'>
      <%= form.text_field :content, class:'form-control input-md', placeholder:'Comment' %>
    </div>
  </div>
  <div class='actions'>
    <%= form.submit 'Post', class: 'btn btn-warning' %>
  </div>
<% end %>
